.navbar-brand .titlewb,
.content-title {
    color: orange !important;
    /* margin-top: 1000spx !important; */
}

header {
    background-color: #ffffff !important;
}

body:not(header) {
    background-color: #f5f5f5;
}

.contents-wrapper {
    /* background-color: white; */
    padding: 0 1vw 0;
}

/* .contents-wrapper h2 { */
.col .content-title {
    border-bottom: 2px solid orange;
}

.btn-shtable {
    cursor: pointer;
}

.sh-table {
    display: none;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
.h-custom {
    height: 100%;
}
}

@media only screen and (min-width: 768px) {
    #mySidenav a:hover {
        left: 0px;
        /* On mouse-over, make the elements appear as they should */
    }
}